@model TesteCobmais.Models.LogConsulta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LogConsulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContratoId" class="control-label"></label>
                <select asp-for="ContratoId" class ="form-control" asp-items="ViewBag.ContratoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConsultaTimestamp" class="control-label"></label>
                <input asp-for="ConsultaTimestamp" class="form-control" />
                <span asp-validation-for="ConsultaTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtrasoEmDias" class="control-label"></label>
                <input asp-for="AtrasoEmDias" class="form-control" />
                <span asp-validation-for="AtrasoEmDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorAtualizado" class="control-label"></label>
                <input asp-for="ValorAtualizado" class="form-control" />
                <span asp-validation-for="ValorAtualizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescontoMaximo" class="control-label"></label>
                <input asp-for="DescontoMaximo" class="form-control" />
                <span asp-validation-for="DescontoMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
