@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Teste Cobmais</h1>
    <p>Navegue pelas páginas mostradas na navbar acima</p>
    <p>Eu fiz considerações sobre o projeto que julgo frutíferas. Elas estão no arquivo README deste repositório.</p>
</div>
